// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /* Color Theme Swatches in Hex */
  --c-primario: #012030;
  --c-secundario: #13678a;
  --c-terciario: #45c4b0;
  --c-cuaternario: #9aeba3;
  --c-quinario: #dafdba;
  --c-blanco: #ffffff;
  --c-negro: #000000;
}
