
.card {
  display: block;
  width: 90%;
  margin: 0px auto;
  background: var(--c-blanco);
  margin-top: 50%;
  @media (min-width: 768px) {
    margin-top: 40px;
    width: 50%;
  }
  &-header {
    text-align: center;
  }
  &-title {
    --color: var(--c-primario);
  }
  &-list {
    background: var(--c-blanco);
    ion-item {
      --background: var(--c-blanco);
      ion-input {
        color: var(--c-primario);
      }
    }
  }
  &-submit {
    display: block;
    width: 30%;
    margin: 4px auto;
    --background: var(--c-primario);
    --color: var(--c-quinario);
  }
  &-signin{
    display: block;
    width: fit-content;
    margin: 4px auto;
  }
}
