<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="User"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            label="Password"
            value="NeverGonnaGiveYouUp"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-button fill="clear">SignIn</ion-button>
    <a routerLink="signup"></a>
  </ion-card>
</ion-content>
